<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    <form id="register" action="" class="input-group" method="post">
        {{ form_modify.useremail }}
        <!-- {{ form_register.password1 }}
        {{ form_register.password2 }}
        {{ form_register.useremail }} -->
        <!-- <input type="checkbox" class="checkbox"><span>Terms and conditions</span> -->
        <button class="submit" name="register">수정</button>
    </form>
</body>
</html>