{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/std3.css' %}">
  <title>SideBar sub menus</title>
  <script>
    function home(){
      location.replace('/category_list');
    }
    function setting(){
      location.replace('/setting')
    }
  </script>
</head>

<body id="body-pd">
  <div class="l-navbar" id="navbar">
    <nav class="nav">
      <div>
        <div class="nav__brand">
          <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
          <a href="#" class="nav__logo"></a>
        </div>
        <div class="nav__list">
          <a onclick="home()" class="nav__link">
            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
            <span class="nav_name">Dashboard</span>
          </a>
          <a onclick="setting()" class="nav__link">
            <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
            <span class="nav_name">Settings</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  
  <!-- IONICONS -->
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <!-- JS -->
  <script src="{% static 'css/main3.js' %}"></script>