{% extends 'base.html' %}
{% load static %}
{% block title%}reviwe 리스트{% endblock %}
{% block content %}

<style>
	div#study{
		margin:20px 10px;
	}
	p#contect{
		position: relative;
		left: 650px;
	}
	p{
		margin : 10px 10px;
	}
	p#st{
		position: relative;
		left : 100px;
	}
	button{
		background-color: aqua;
		border : none;
		position: relative;
		left : 650px;
	}
</style>

<div id="study">
	<div>
		<p>Study Topic</p>
		{{form.study_topic}}
	</div>
	<div>
		<p id="contect">Study_Contect</p>
		<p id="st">
		 {{form.study_contect}}
		</p>
	</div>
	<button class="submiy" name="review_prev">
		<a href="{% url 'study_review' category_id study_id %}">
		이전
		</a>
	</button>
	<button class="submiy" name="review_next">
		<a href="{% url 'study_review' category_id study_id %}">
		다음
		</a>
	</button>

{% endblock %}